.portfolio {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* gère défilement texte */
.scrollcontainerup,
.scrollcontainerdown {
    border: 3px solid #7ac5b0;
    background-color: #7ac5b0;
    border-radius: 5px;
    overflow: hidden;
}

.scrollcontainerdown {
    bottom: 0;
    position: absolute;
}

.scrollcontainerup {
    flex: 1;
}

.portfolio .scrollingtextup,
.scrollingtextdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .scrollingtextup p,
.scrollingtextdown p {
    margin: 10px 300px;
    font-size: 2rem;
    font-weight: bold;
    color: #3a3c6f;
}

.scrollingtextup {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animationup 15s linear infinite;
}

@-webkit-keyframes my-animationup {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animationup {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.scrollingtextdown {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animationdown 20s linear infinite;
}

@-webkit-keyframes my-animationdown {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes my-animationdown {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.website {
    width: 100%;
    height: 82%;
    margin: 0 auto;
    background-color: #3a3c6f;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('../assets/background.jpg') ;
    background-size: cover;
    background-position: center;
    justify-content: center;
}



@media screen and (max-width: 1024px){
    .portfolio .scrollingtextup p,
    .scrollingtextdown p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px){
    .portfolio .scrollingtextup p,
    .scrollingtextdown p {
        font-size: 1.5rem;
    }
}